<div id="main_div">

<fieldset>
	<p class="lead">Options</p>
	<table class="table table-striped">
			<% if @options[:vm_memory] %>
				<tr>
					<td >Memory</td>
					<td><%=h(@options[:memory])%> <%=@options[:mem_typ]%></td>
				</tr>
			<% end %>
			<% if @options[:number_of_cpus] %>
				<tr>
					<td >Processors</td>
					<td><%=h(@options[:number_of_cpus])%></td>
				</tr>
			<% end %>
	</table>
</fieldset>

<fieldset>
	<p class="lead">Affected VMs</p>
	<table class="table table-striped" height="75">
			<tr>
				<td>
					<% if @view %>
						<% @embedded = true %>
						<% @gtl_type = "list" %>
						<%= render :partial=>"layouts/gtl" %>
					<% end %>
				</td>
			</tr>
	</table>
</fieldset>
</div>
