<div id="results_uri_div">
  <% if @temp[:results] %>
    <br/>
    <fieldset>
      <p class="lead">Object Info</p>
      <table class="table table-striped">
        <tr>
          <td >URI</td>
          <td ><%= @resolve[:uri] %></td>
        </tr>
        <% if !@resolve[:button_attr_name].blank? && !@resolve[:button_class].blank? %>
          <tr>
            <td >Object Attribute Name</td>
            <td ><%= @resolve[:button_attr_name] %></td>
          </tr>
          <tr>
            <td >Object Attribute Type</td>
            <td ><%= ui_lookup(:model => @resolve[:button_class]) %></td>
          </tr>
        <% end %>
      </table>
    </fieldset>
  <% else %>
    <div class="bg-warning">
      <span class="glyphicon glyphicon-info-sign"></span>
      <strong>Enter Automation Simulation options on the left and press Submit.</strong>
    </div>
  <% end %>
</div>
