<div id="bottlenecks_report_div">
  <% if x_node != "" %>
    <%= render(:partial => "layouts/flash_msg", 
               :locals  => {:div_num => "2"})
    %>
    <%= render(:partial => 'bottlenecks_options', 
               :locals  => {:typ => "report"})
    %>

    <% if @sb[:bottlenecks] && @sb[:bottlenecks][:report] %>
          <hr>
          <p class="lead">Bottleneck Event Details</p>
          <%= @sb[:bottlenecks][:report].to_html.html_safe %>
    <% end %>

  </table>
  <% else %>
    <div class="bg-warning">
      <i class="fa fa-info-circle"></i>
      <strong>Select a node on the left to view Bottlenecks report.</strong>
    </div>
  <% end %>
</div>
