<% if @more %>
<div id="login_more_div">
  <div class="form-group">
    <label for="newpasword" class="control-label col-xs-2">New Password</label>
    <div class="col-xs-10">
      <input type="password" class="form-control" id="newpassword">
    </div>
  </div>
  <div class="form-group">
    <label for="verifypassword" class="control-label col-xs-2">Verify Password</label>
      <div class="col-xs-10">
        <input type="password" class="form-control" id="verifypassword">
      </div>
  </div>
</div>
<% else %>
<div id="login_more_div" style="display:none;"></div>
<% end %>  
