<% url = url_for(:action=>'dialog_form_field_changed', :id=>"#{@record.id || "new"}") %>
<fieldset>
  <p class="lead">Tab Information</p>
  <table class="table table-striped">
    <tr>
      <td >Label</td>
      <td >
        <%= text_field_tag("tab_label",
                            @edit[:tab_label],
                            :maxlength=>MAX_NAME_LEN,
                            "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
        <%= javascript_tag("$j('#tab_label').focus()") %>
      </td>
    </tr>
    <tr>
      <td >Description</td>
      <td >
        <%= text_field_tag("tab_description",
                            @edit[:tab_description],
                            :maxlength=>100,
                            "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
      </td>
    </tr>
  </table>
</fieldset>
