#field_values_div
  %fieldset
    %p.lead Category Tag Entries
    %table.table.table-striped
      %thead
        %tr
          %th.lead Value
          %th.lead Description
      %tbody
        - DialogFieldTagControl.category_tags(@edit[:field_category]).each do |cat|
          %tr
            %td=cat[:name]
            %td=cat[:description]
      %tfoot
        %tr
          %td{:colspan => "40"}
