<% url = url_for(:action => 'pxe_wimg_form_field_changed', 
                 :id     => "#{@wimg.id || "new"}") 
%>
<div id="form_div">
	<%= render :partial => "layouts/flash_msg" %>
  <p class="lead">Basic Information</p>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td >Type</td>
        <td >
          <% img_types = [["<Unkown>",nil]] + @edit[:pxe_image_types] %>
          <%= select_tag("image_typ",
                         options_for_select(img_types,
                         @edit[:new][:img_type]),
                         "data-miq_observe" => {:url => url}.to_json) 
          %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
