<% if @record && @record.name != nil %>

	<div id="accordion">
		<div class="container">
			<div class="navbar navbar-default">
				<div class="container">
					<%= link_to(h(@record.name.length < trunc_at ? @record.name : @record.name[0...trunc_to] + "..."),
						{:action=>'panel_control', :panel=>'icon'},
        			                  :remote=>true,
						:title=>"#{h(@record.name)}") %>
				</div>
			</div>
			<%= hidden_div_if(@panels["icon"] == nil || @panels["icon"] == false, :id=>"icon") %>
				<div class="container">
					<%= render(:partial=>"layouts/quadicon",
											:locals=>{:mode=>:icon,
																:item=>@record,
																:size=>72,
																:typ=>:listnav} )
					%>
				</div>
			</div>

		</div>
	</div>
<% end %>
