- if @domain_overrides && @domain_overrides.count > 1
  %p.lead Domain Overrides (by priority)
  %table.table.table-striped
    %thead
      %tr
        %th
    %tbody
      - @domain_overrides.each do |name, id|
        - if id
          %tr{:onclick => remote_function(:loading => "miqSparkle(true);",
                                          :complete => "miqSparkle(false);",
                                          :url     => "/miq_ae_class/x_show?id=#{node_prefix}-#{to_cid(id)}"),
              :onmouseover => "this.style.cursor='pointer'",
              :title => "Click to view this #{model} in the \"#{name}\" Domain"}
            %td
              =name
        - else
          %tr
            %td
              =name
