<% if @sb[:active_tab] == "diagnostics_replication" %>
  <%= render :partial => "layouts/flash_msg" %>
  <p class="lead">Replication Process</p>
  <table class="table table-striped">
    <tr>
      <td >Replicate to Host</td>
      <td ><%= h(MiqReplicationWorker.destination_host.to_s) %></td>
    </tr>
    <tr>
      <td >Status</td>
      <td ><%= h(MiqReplicationWorker.replication_active? ? "Active" : "Inactive") %></td>
    </tr>
    <tr>
      <td >Current Backlog</td>
      <td ><%= h(MiqReplicationWorker.current_backlog.to_i) %></td>
    </tr>
  </table>
<% end %>
