<div id="main_div">
  <p class="lead">Basic Information</p>
  <table class="table table-striped">
      <tr>
        <td >Name</td>
        <td ><%= h(widget.name) %></td>
      </tr>
      <tr>
        <td >Tab Title</td>
        <td ><%= h(widget.description) %>
        </td>
      </tr>
      <tr>
        <td >Locked</td>
        <td><%= h(widget.set_data[:locked])%>
        </td>
      </tr>
  </table>
  <hr>
  <%= render(:partial=>'db_widgets', :locals=>{:widget=>widget}) %>
</div>
