<div id='main_div'>
<% if @report == nil %>
	<div class="bg-warning">
		<span class="glyphicon glyphicon-info-sign"></span>
		<strong>Choose a Report to edit from the menus on the left.</strong>
	</div>
<% else %>

			<fieldset>
				<p class="lead"><%= @report.name %></p>
				<table class="table table-striped">
						<tr>
							<td >Title:</td>
							<td ><%= @report.title %></td>
						</tr>
						<tr>
							<td >Based On:</td>
							<td ><%= Dictionary::gettext(@report.db, :type=>:model, :notfound=>:titleize) %></td>
						</tr>
						<tr>
							<td >Updated On:</td>
							<td ><%= @report.updated_on %></td>
						</tr>
				</table>
			</fieldset>

<% end  %>
</div>
