<% if @sb[:active_tab] == "saved_reports" %>
  <% if @view && !@view.table.data.empty? %>
    <%= render :partial => 'layouts/x_gtl'%>
  <% else %>
     <div class="bg-warning">
      <i class="fa fa-info-circle"></i>
      <strong>No Saved Reports available.</strong>
    </div>
  <% end %>
<% end %>
