.tree_div
  %table.table.table-striped{:style => 'height:100px;'}
    %tr
      %td{:width => '55%', :valign => 'top'}
        = render :partial => '/layouts/dc_tree_quads'
        = render :partial => '/layouts/dc_tree'
